@model PCSReports.Models.ReportViewModel

@{
    ViewBag.Title = Model.rm.name;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="alert-danger">
        @ViewBag.ErrorMessage
    </div>

    <table class="table">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        @{
            int icnt = -1;
            string sDefaultValue = string.Empty;
            @foreach (var item in Model.lsrp)
            {
        <tr>
            @icnt++;
            @if (item.DefaultValues != null)
            {
                sDefaultValue = item.DefaultValues[0];
            }
            @if (sDefaultValue == null)
            {
                sDefaultValue = string.Empty;
            }

            @if (item.PromptUser)
            {
        <td><label class="control-label">@item.Prompt</label></td>
                if (item.ValidValues != null)
                {
        <td colspan="3">
            @Html.DropDownList("opjPram" + icnt.ToString(), Model.lsrped[icnt].lsVVSL, "<-- Select -->", htmlAttributes: new { @class = "form-control" })
        </td>
                }
                else
                {
                    if (item.Type == PCSReports.ReportService2005.ParameterTypeEnum.Boolean)
                    {
        <td colspan="3">
            @Html.CheckBox("opjPram" + icnt.ToString(), Convert.ToBoolean(sDefaultValue), htmlAttributes: new { @class = "form-control" })
        </td>
                    }
                    else if (item.Type == PCSReports.ReportService2005.ParameterTypeEnum.DateTime)
                    {
        <td colspan="3">
            @Html.Editor("opjPram" + icnt.ToString(), "DateTime");
        </td>
                    }
                }
            }
        </tr>
            }
            }
        <tr>
            <td></td>
            <td align="right">
                <label class="control-label">Output Format:</label>
            </td>
            <td align="left">
                @Html.DropDownListFor(model => model.sOutputType, Model.lsOuputs, "<-Select Format->", htmlAttributes: new { @class = "form-control" })
            </td>
            <td><input type="submit" value="Generate Report" class="btn btn-primary" /></td>
        </tr>
    </table>
}