@model PCSReports.Models.ReportUserViewModel
@using PagedList.Mvc

@{
    ViewBag.Title = "Report Users";
}

<h2>Report User List</h2>

<p>
    @Html.ActionLink("Add User Reports", "Create")
</p>

@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <td align="left"><label class="control-label">Filter by User name:</label></td>
            <td align="left">@Html.TextBox("SearchFilter", (string)ViewBag.CurrentFilter, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td colspan="2" align="right"><input type="submit" value="Search" class="btn btn-primary" /></td>
        </tr>
    </table>
}
<br />
Page @(Model.lsReportUsers.PageCount < Model.lsReportUsers.PageNumber ? 0 : Model.lsReportUsers.PageNumber) of @Model.lsReportUsers.PageCount

@Html.PagedListPager(Model.lsReportUsers, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.reportUser.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reportUser.ReportID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reportUser.isActive)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.lsReportUsers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Model.lsReports.FirstOrDefault(rt => rt.Value == item.ReportID.ToString()).Text.ToString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isActive)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
Page @(Model.lsReportUsers.PageCount < Model.lsReportUsers.PageNumber ? 0 : Model.lsReportUsers.PageNumber) of @Model.lsReportUsers.PageCount

@Html.PagedListPager(Model.lsReportUsers, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
