@model  PCSReports.Models.PortalMenuViewModel

@{
    ViewBag.Title = "Menu Manager";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New Menu", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.menusModel.MenuName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.menusModel.ControllerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.menusModel.ActionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.menusModel.MenuType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.menusModel.ParentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.menusModel.Sortorder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.menusModel.RoleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.lsMenus) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MenuName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ControllerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MenuType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.slParentMenus.Where(x=> x.Value==item.ParentID.ToString()).Single().Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sortorder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
